@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.contact-footer__link::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-email:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-phone:before {
  content: "\e903";
}

._icon-ruble:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #131313;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0.625rem 0;
  border-bottom: 1px solid #131313;
  line-height: 1.2;
}

.input:not(:last-child) {
  margin-bottom: 0.625rem;
}

.input._form-focus {
  outline: none;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: #6F6F6F;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: #6F6F6F;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: #6F6F6F;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: #6F6F6F;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: #6F6F6F;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__input:focus-visible + .options__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.options__input:checked + .options__label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 1.4375rem;
}

.options__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 5rem;
  height: 0.75rem;
  border-radius: 1.875rem;
  border: 1px solid #a7a9ac;
}

.options__label_gray .options__label:before {
  background-color: red;
}

.options__label:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 5.25rem;
  height: 0.875rem;
  border-radius: 1.875rem;
  background-color: transparent;
  position: absolute;
  left: -2px;
  top: -1px;
  border: 2px solid black;
}

.options__label_white::before {
  background-color: #fff;
}

.options__label_gray::before {
  background-color: #6F6F6F;
}

.options__label_red::before {
  background-color: #FF4040;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  padding-top: 0.1875rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.menu__link {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.2142857143;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hidden-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  overflow: auto;
  padding: 6.25rem 0.9375rem 3.125rem 0.9375rem;
  z-index: 4;
  background-color: rgba(128, 128, 128, 0.8);
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}

.menu-open .hidden-menu {
  left: 0;
}

.menu-open .hidden-menu::before {
  left: 0;
}

.hidden-menu__list .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden-menu__list .menu__item a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem 0.625rem;
  text-align: center;
  font-size: 1.625rem;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-hero {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 46.1%;
          flex: 1 1 46.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-hero__title {
  font-weight: 700;
  line-height: 1.203125;
}

.info-hero__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.info-hero__sub-title {
  color: #6F6F6F;
  font-weight: 400;
  line-height: 1.21875;
}

.info-hero__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info-hero__text p {
  line-height: 1.2;
}

.info-hero__btn {
  background-color: #131313;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.product-hero {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 53.9%;
          flex: 1 1 53.9%;
  max-width: 53.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-hero__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.product-hero__image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-hero__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 3.25rem;
  right: 0;
}

.product-hero__pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 0.125rem;
  height: 1.5625rem;
  background-color: #131313;
}

.product-hero__pagination .swiper-pagination-bullet-active {
  background-color: #FF4040;
}

.property-product__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(6.25rem, 1fr))[4];
  grid-template-columns: repeat(4, minmax(6.25rem, 1fr));
}

.property-product__value {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.property-product__value:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.property-product__name {
  font-size: 0.75rem;
  line-height: 0.8571428571;
  font-weight: 400;
  text-align: center;
  text-transform: lowercase;
}

.advantage__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage__title {
  position: absolute;
  color: transparent;
}

.advantage__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 3.125rem);
          flex: 1 1 calc(50% - 3.125rem);
}

.advan-picture {
  overflow: hidden;
}

.advan-picture__image {
  height: 100%;
}

.advan-picture__image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-advan__title {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 700;
  text-transform: uppercase;
}

.item-advan__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-advan__text {
  line-height: 1.2;
  text-align: justify;
}

.perfomance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.perfomance__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 3.125rem);
          flex: 1 1 calc(50% - 3.125rem);
}

.perfomance-table__title {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 700;
  text-transform: uppercase;
}

.perfomance-table__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.item-perfomance:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-perfomance__group-name {
  background-color: #131313;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.item-perfomance__group-name:not(:last-child) {
  margin-bottom: 0.75rem;
}

.item-perfomance__row {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  line-height: 1.2;
}

.item-perfomance__row:not(:last-child) {
  margin-bottom: 0.625rem;
}

.perfomance-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perfomance-picture__image {
  width: 100%;
}

.perfomance-picture__image img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order__picture:not(:last-child) {
  margin-bottom: 3.125rem;
}

.picture-order__slider {
  position: relative;
}

.picture-order__slide {
  max-height: 39.5rem;
}

.picture-order__image {
  width: 100%;
  height: 100%;
}

.picture-order__image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.picture-order__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.picture-order__pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 0.125rem;
  height: 1.5625rem;
  background-color: #131313;
}

.picture-order__pagination .swiper-pagination-bullet-active {
  background-color: #FF4040;
}

.main-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4.375rem;
}

.main-order__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 26.25rem;
}

.main-order__picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 39.375rem;
}

.main-order__title {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 700;
  text-transform: uppercase;
}

.main-order__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.main-order__descr {
  max-width: 18.75rem;
  line-height: 1.2;
}

.main-order__descr:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main-order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-order__inputs:not(:last-child) {
  margin-bottom: 1.25rem;
}

.main-order__color-options:not(:last-child) {
  margin-bottom: 3.125rem;
}

.main-order__btn {
  background-color: #131313;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.color-options__label {
  line-height: 1.2;
  color: #6F6F6F;
}

.color-options__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.order-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.order-image__list {
  position: relative;
  width: 100%;
  height: 100%;
}

.order-image__img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.order-image__img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.order-image__img-active {
  opacity: 1;
}

.order-image__price {
  position: absolute;
  left: -10%;
  top: 20%;
}

.price-order {
  display: inline-block;
}

.price-order__wrapper {
  position: relative;
  line-height: 1.21875;
  font-weight: 400;
}

.price-order__wrapper::before,
.price-order__wrapper::after {
  content: "";
  position: absolute;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  -webkit-transform: translate(-20%, -40%);
      -ms-transform: translate(-20%, -40%);
          transform: translate(-20%, -40%);
  border: 1px solid #FF4040;
  border-radius: 100%;
}

.price-order__wrapper::after {
  -webkit-transform: translate(-20%, -70%);
      -ms-transform: translate(-20%, -70%);
          transform: translate(-20%, -70%);
}

.price-order__wrapper span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.footer {
  margin-top: 3.125rem;
  background-color: #131313;
  color: #fff;
}

.footer__container {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__policy {
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 400;
  text-transform: lowercase;
  text-decoration: underline;
}

.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.8125rem;
     -moz-column-gap: 1.8125rem;
          column-gap: 1.8125rem;
}

.social-footer__link {
  font-size: 1.75rem;
}

.contact-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.contact-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  line-height: 1.25;
  text-transform: lowercase;
}

.contact-footer__link::before {
  padding-right: 0.625rem;
  font-size: 1.5rem;
}

.contact-footer__link_tel::before {
  content: "\e903";
}

.contact-footer__link_email::before {
  content: "\e900";
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 62.5em) {
  .header__logo img {
    width: 10rem;
  }

  .header__logo img {
    height: 6.25rem;
  }

  .menu__link {
    padding-top: 2.6875rem;
  }

  .menu__link {
    padding-left: 1.25rem;
  }

  .menu__link {
    padding-bottom: 2.6875rem;
  }

  .menu__link {
    padding-right: 1.25rem;
  }
}

@media (min-width: 75rem) {
  .info-hero__title {
    padding-top: 4.5rem;
  }
}

@media (min-width: 75em) {
  .header {
    padding-bottom: 3.03125rem;
  }

  .menu {
    padding-right: 4.5625rem;
  }

  .hero {
    margin-top: 3.03125rem;
  }

  .hero {
    padding-bottom: 4.6875rem;
  }

  .info-hero__title {
    font-size: 3.9375rem;
  }

  .info-hero__sub-title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .info-hero__sub-title {
    font-size: 2rem;
  }

  .info-hero__text:not(:last-child) {
    margin-bottom: 5rem;
  }

  .info-hero__text p:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .info-hero__btn {
    padding-top: 1.75rem;
  }

  .info-hero__btn {
    padding-right: 5.0625rem;
  }

  .info-hero__btn {
    padding-bottom: 1.75rem;
  }

  .info-hero__btn {
    padding-left: 5.0625rem;
  }

  .info-hero__btn {
    letter-spacing: 1.375rem;
  }

  .advantage {
    margin-top: 4.6875rem;
  }

  .advantage {
    padding-bottom: 4.6875rem;
  }

  .advantage__container {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .advan-text__item:not(:last-child) {
    margin-bottom: 4.6875rem;
  }

  .perfomance {
    margin-top: 4.6875rem;
  }

  .perfomance {
    padding-bottom: 4.6875rem;
  }

  .perfomance__container {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .order {
    margin-top: 4.6875rem;
  }

  .order {
    padding-bottom: 3.125rem;
  }

  .picture-order__slider {
    padding-left: 3.125rem;
  }

  .main-order__btn {
    padding-top: 1.75rem;
  }

  .main-order__btn {
    padding-right: 3.8125rem;
  }

  .main-order__btn {
    padding-bottom: 1.75rem;
  }

  .main-order__btn {
    padding-left: 3.8125rem;
  }

  .main-order__btn {
    letter-spacing: 1.375rem;
  }

  .price-order__wrapper {
    font-size: 2rem;
  }
}

@media (max-width: 20em) {
  .header {
    padding-bottom: 0.75rem;
  }

  .hero {
    margin-top: 0.75rem;
  }

  .hero {
    padding-bottom: 2.34375rem;
  }

  .info-hero__title {
    font-size: 2rem;
  }

  .info-hero__sub-title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .info-hero__sub-title {
    font-size: 1rem;
  }

  .info-hero__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .info-hero__text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .advantage {
    margin-top: 2.34375rem;
  }

  .advantage {
    padding-bottom: 2.34375rem;
  }

  .advantage__container {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .advan-text__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .perfomance {
    margin-top: 2.34375rem;
  }

  .perfomance {
    padding-bottom: 2.34375rem;
  }

  .perfomance__container {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .order {
    margin-top: 2.34375rem;
  }

  .order {
    padding-bottom: 1.5625rem;
  }

  .picture-order__slider {
    padding-left: 0.625rem;
  }

  .price-order__wrapper {
    font-size: 1.25rem;
  }
}

@media (max-width: 75rem) {
  .order-image__price {
    left: 50%;
    top: 105%;
    -webkit-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }

  .price-order__wrapper::before,
  .price-order__wrapper::after {
    display: none;
  }

  .price-order__wrapper span::before {
    color: red;
  }
}

@media (max-width: 62.5em) {
  .menu {
    padding-right: 0.0000000625rem;
  }

  .info-hero__btn {
    padding-top: 0.875rem;
  }

  .info-hero__btn {
    padding-right: 2.5rem;
  }

  .info-hero__btn {
    padding-bottom: 0.875rem;
  }

  .info-hero__btn {
    padding-left: 2.5rem;
  }

  .main-order__btn {
    padding-top: 0.875rem;
  }

  .main-order__btn {
    padding-right: 2.5rem;
  }

  .main-order__btn {
    padding-bottom: 0.875rem;
  }

  .main-order__btn {
    padding-left: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.875rem;
  }

  .info-hero__text p {
    text-align: justify;
  }

  .product-hero {
    max-width: 100%;
  }

  .product-hero__image img {
    width: 100%;
  }

  .advantage__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advan-picture {
    margin: 0 -0.9375rem;
  }

  .perfomance__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .item-perfomance__group-name {
    margin: 0 -0.9375rem;
    padding-left: 1.25rem;
  }

  .perfomance-picture {
    margin: 0 -0.9375rem;
  }

  .picture-order {
    margin-right: -0.9375rem;
  }

  .main-order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
  }

  .main-order__content {
    max-width: 100%;
  }

  .main-order__picture {
    max-width: 100%;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .advan-picture:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .order-image {
    min-height: 12.5rem;
  }

  .order-image__img img {
    min-height: 12.5rem;
  }
}

@media (max-width: 41.25em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 37.5em) {
  .header__logo img {
    width: 6.25rem;
  }

  .header__logo img {
    height: 3.875rem;
  }

  .menu__link {
    padding-top: 1.5rem;
  }

  .menu__link {
    padding-left: 0.3125rem;
  }

  .menu__link {
    padding-bottom: 1.5rem;
  }

  .menu__link {
    padding-right: 0.3125rem;
  }
}

@media (max-width: 29.99875em) {
  .info-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .property-product__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  .property-product__value {
    text-align: left;
  }

  .property-product__name {
    text-align: left;
  }
}

@media (max-width: 6.25em) {
  .info-hero__btn {
    letter-spacing: 0.625rem;
  }

  .main-order__btn {
    letter-spacing: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (padding-bottom: clamp( 0.75rem , -0.0795454545rem  +  4.1477272727vw , 3.03125rem )) {
    .header {
      padding-bottom: clamp( 0.75rem , -0.0795454545rem  +  4.1477272727vw , 3.03125rem );
    }
}

@supports not (padding-bottom: clamp( 0.75rem , -0.0795454545rem  +  4.1477272727vw , 3.03125rem )) {
    .header {
      padding-bottom: calc(0.75rem + 2.28125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 0.75rem , -0.0795454545rem  +  4.1477272727vw , 3.03125rem )) {
    .hero {
      margin-top: clamp( 0.75rem , -0.0795454545rem  +  4.1477272727vw , 3.03125rem );
    }
}

@supports not (margin-top: clamp( 0.75rem , -0.0795454545rem  +  4.1477272727vw , 3.03125rem )) {
    .hero {
      margin-top: calc(0.75rem + 2.28125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .hero {
      padding-bottom: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .hero {
      padding-bottom: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2rem , 1.2954545455rem  +  3.5227272727vw , 3.9375rem )) {
    .info-hero__title {
      font-size: clamp( 2rem , 1.2954545455rem  +  3.5227272727vw , 3.9375rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.2954545455rem  +  3.5227272727vw , 3.9375rem )) {
    .info-hero__title {
      font-size: calc(2rem + 1.9375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem )) {
    .info-hero__sub-title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem )) {
    .info-hero__sub-title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.6363636364rem  +  1.8181818182vw , 2rem )) {
    .info-hero__sub-title {
      font-size: clamp( 1rem , 0.6363636364rem  +  1.8181818182vw , 2rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.6363636364rem  +  1.8181818182vw , 2rem )) {
    .info-hero__sub-title {
      font-size: calc(1rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .info-hero__text:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .info-hero__text:not(:last-child) {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .info-hero__text p:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .info-hero__text p:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .advantage {
      margin-top: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem );
    }
}

@supports not (margin-top: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .advantage {
      margin-top: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .advantage {
      padding-bottom: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .advantage {
      padding-bottom: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) or (column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem ))) {
    .advantage__container {
      -webkit-column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem );
         -moz-column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem );
              column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) or (column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem ))) {
    .advantage__container {
      -webkit-column-gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
              column-gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem )) {
    .advan-text__item:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem )) {
    .advan-text__item:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .perfomance {
      margin-top: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem );
    }
}

@supports not (margin-top: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .perfomance {
      margin-top: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .perfomance {
      padding-bottom: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .perfomance {
      padding-bottom: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) or (column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem ))) {
    .perfomance__container {
      -webkit-column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem );
         -moz-column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem );
              column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) or (column-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem ))) {
    .perfomance__container {
      -webkit-column-gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
              column-gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .order {
      margin-top: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem );
    }
}

@supports not (margin-top: clamp( 2.34375rem , 1.4914772727rem  +  4.2613636364vw , 4.6875rem )) {
    .order {
      margin-top: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .order {
      padding-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .order {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) {
    .picture-order__slider {
      padding-left: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) {
    .picture-order__slider {
      padding-left: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 0.9772727273rem  +  1.3636363636vw , 2rem )) {
    .price-order__wrapper {
      font-size: clamp( 1.25rem , 0.9772727273rem  +  1.3636363636vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.9772727273rem  +  1.3636363636vw , 2rem )) {
    .price-order__wrapper {
      font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 37.5em) and (max-width: 62.5em) {
@supports (width: clamp( 6.25rem , 0.625rem  +  15vw , 10rem )) {
    .header__logo img {
      width: clamp( 6.25rem , 0.625rem  +  15vw , 10rem );
    }
}

@supports not (width: clamp( 6.25rem , 0.625rem  +  15vw , 10rem )) {
    .header__logo img {
      width: calc(6.25rem + 3.75 * (100vw - 37.5rem) / 25);
    }
}

@supports (height: clamp( 3.875rem , 0.3125rem  +  9.5vw , 6.25rem )) {
    .header__logo img {
      height: clamp( 3.875rem , 0.3125rem  +  9.5vw , 6.25rem );
    }
}

@supports not (height: clamp( 3.875rem , 0.3125rem  +  9.5vw , 6.25rem )) {
    .header__logo img {
      height: calc(3.875rem + 2.375 * (100vw - 37.5rem) / 25);
    }
}

@supports (padding-top: clamp( 1.5rem , -0.28125rem  +  4.75vw , 2.6875rem )) {
    .menu__link {
      padding-top: clamp( 1.5rem , -0.28125rem  +  4.75vw , 2.6875rem );
    }
}

@supports not (padding-top: clamp( 1.5rem , -0.28125rem  +  4.75vw , 2.6875rem )) {
    .menu__link {
      padding-top: calc(1.5rem + 1.1875 * (100vw - 37.5rem) / 25);
    }
}

@supports (padding-left: clamp( 0.3125rem , -1.09375rem  +  3.75vw , 1.25rem )) {
    .menu__link {
      padding-left: clamp( 0.3125rem , -1.09375rem  +  3.75vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -1.09375rem  +  3.75vw , 1.25rem )) {
    .menu__link {
      padding-left: calc(0.3125rem + 0.9375 * (100vw - 37.5rem) / 25);
    }
}

@supports (padding-bottom: clamp( 1.5rem , -0.28125rem  +  4.75vw , 2.6875rem )) {
    .menu__link {
      padding-bottom: clamp( 1.5rem , -0.28125rem  +  4.75vw , 2.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.5rem , -0.28125rem  +  4.75vw , 2.6875rem )) {
    .menu__link {
      padding-bottom: calc(1.5rem + 1.1875 * (100vw - 37.5rem) / 25);
    }
}

@supports (padding-right: clamp( 0.3125rem , -1.09375rem  +  3.75vw , 1.25rem )) {
    .menu__link {
      padding-right: clamp( 0.3125rem , -1.09375rem  +  3.75vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -1.09375rem  +  3.75vw , 1.25rem )) {
    .menu__link {
      padding-right: calc(0.3125rem + 0.9375 * (100vw - 37.5rem) / 25);
    }
}
}

@media (min-width: 62.5em) and (max-width: 75em) {
@supports (padding-right: clamp( 0.0000000625rem , -22.812499625rem  +  36.4999995vw , 4.5625rem )) {
    .menu {
      padding-right: clamp( 0.0000000625rem , -22.812499625rem  +  36.4999995vw , 4.5625rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -22.812499625rem  +  36.4999995vw , 4.5625rem )) {
    .menu {
      padding-right: calc(0.0000000625rem + 4.5624999375 * (100vw - 62.5rem) / 12.5);
    }
}

@supports (padding-top: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem )) {
    .info-hero__btn {
      padding-top: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem );
    }
}

@supports not (padding-top: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem )) {
    .info-hero__btn {
      padding-top: calc(0.875rem + 0.875 * (100vw - 62.5rem) / 12.5);
    }
}

@supports (padding-right: clamp( 2.5rem , -10.3125rem  +  20.5vw , 5.0625rem )) {
    .info-hero__btn {
      padding-right: clamp( 2.5rem , -10.3125rem  +  20.5vw , 5.0625rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , -10.3125rem  +  20.5vw , 5.0625rem )) {
    .info-hero__btn {
      padding-right: calc(2.5rem + 2.5625 * (100vw - 62.5rem) / 12.5);
    }
}

@supports (padding-bottom: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem )) {
    .info-hero__btn {
      padding-bottom: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem )) {
    .info-hero__btn {
      padding-bottom: calc(0.875rem + 0.875 * (100vw - 62.5rem) / 12.5);
    }
}

@supports (padding-left: clamp( 2.5rem , -10.3125rem  +  20.5vw , 5.0625rem )) {
    .info-hero__btn {
      padding-left: clamp( 2.5rem , -10.3125rem  +  20.5vw , 5.0625rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , -10.3125rem  +  20.5vw , 5.0625rem )) {
    .info-hero__btn {
      padding-left: calc(2.5rem + 2.5625 * (100vw - 62.5rem) / 12.5);
    }
}

@supports (padding-top: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem )) {
    .main-order__btn {
      padding-top: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem );
    }
}

@supports not (padding-top: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem )) {
    .main-order__btn {
      padding-top: calc(0.875rem + 0.875 * (100vw - 62.5rem) / 12.5);
    }
}

@supports (padding-right: clamp( 2.5rem , -4.0625rem  +  10.5vw , 3.8125rem )) {
    .main-order__btn {
      padding-right: clamp( 2.5rem , -4.0625rem  +  10.5vw , 3.8125rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , -4.0625rem  +  10.5vw , 3.8125rem )) {
    .main-order__btn {
      padding-right: calc(2.5rem + 1.3125 * (100vw - 62.5rem) / 12.5);
    }
}

@supports (padding-bottom: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem )) {
    .main-order__btn {
      padding-bottom: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.875rem , -3.5rem  +  7vw , 1.75rem )) {
    .main-order__btn {
      padding-bottom: calc(0.875rem + 0.875 * (100vw - 62.5rem) / 12.5);
    }
}

@supports (padding-left: clamp( 2.5rem , -4.0625rem  +  10.5vw , 3.8125rem )) {
    .main-order__btn {
      padding-left: clamp( 2.5rem , -4.0625rem  +  10.5vw , 3.8125rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , -4.0625rem  +  10.5vw , 3.8125rem )) {
    .main-order__btn {
      padding-left: calc(2.5rem + 1.3125 * (100vw - 62.5rem) / 12.5);
    }
}
}

@media (min-width: 6.25em) and (max-width: 75em) {
@supports (letter-spacing: clamp( 0.625rem , 0.5568181818rem  +  1.0909090909vw , 1.375rem )) {
    .info-hero__btn {
      letter-spacing: clamp( 0.625rem , 0.5568181818rem  +  1.0909090909vw , 1.375rem );
    }
}

@supports not (letter-spacing: clamp( 0.625rem , 0.5568181818rem  +  1.0909090909vw , 1.375rem )) {
    .info-hero__btn {
      letter-spacing: calc(0.625rem + 0.75 * (100vw - 6.25rem) / 68.75);
    }
}

@supports (letter-spacing: clamp( 0.625rem , 0.5568181818rem  +  1.0909090909vw , 1.375rem )) {
    .main-order__btn {
      letter-spacing: clamp( 0.625rem , 0.5568181818rem  +  1.0909090909vw , 1.375rem );
    }
}

@supports not (letter-spacing: clamp( 0.625rem , 0.5568181818rem  +  1.0909090909vw , 1.375rem )) {
    .main-order__btn {
      letter-spacing: calc(0.625rem + 0.75 * (100vw - 6.25rem) / 68.75);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 75em) {
  .advan-picture:not(:last-child) {
    margin-bottom: 4.6875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (margin-bottom: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem )) {
    .advan-picture:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem )) {
    .advan-picture:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .order-image {
    min-height: 20rem;
  }

  .order-image__img img {
    min-height: 20rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
@supports (min-height: clamp( 12.5rem , 7.142617974rem  +  26.7869101299vw , 20rem )) {
    .order-image {
      min-height: clamp( 12.5rem , 7.142617974rem  +  26.7869101299vw , 20rem );
    }
}

@supports not (min-height: clamp( 12.5rem , 7.142617974rem  +  26.7869101299vw , 20rem )) {
    .order-image {
      min-height: calc(12.5rem + 7.5 * (100vw - 20rem) / 27.99875);
    }
}

@supports (min-height: clamp( 12.5rem , 7.142617974rem  +  26.7869101299vw , 20rem )) {
    .order-image__img img {
      min-height: clamp( 12.5rem , 7.142617974rem  +  26.7869101299vw , 20rem );
    }
}

@supports not (min-height: clamp( 12.5rem , 7.142617974rem  +  26.7869101299vw , 20rem )) {
    .order-image__img img {
      min-height: calc(12.5rem + 7.5 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    background-color: black;
    color: white;
  }

  .info-hero__btn:hover {
    background-color: #FF4040;
  }

  .main-order__btn:hover {
    background-color: #FF4040;
  }
}